<div class='d-flex flex-column vh-100'>
  <h1 class='pb-2 text-center bg-dark bg-gradient text-white-50'>Welcome <%= current_user.name %> to <%= @room.name %></h1>
  
  <div class='flex-grow-1 d-flex flex-column justify-content-end'>
    <% @messages.each do |message| %>
      <div><%= h message.content%></div>
    <% end %>
  </div>

  <%= form_with model: [@room, Message.new], class: 'p-3' do |f| %>
    <%= f.text_field :content, class: 'form-control', autofocus: true, required: true %>
  <% end %>
</div>
