<%= turbo_stream_from @room %>

<div class='d-flex flex-column h-100'>
  <h1 class='pb-2 text-center bg-purple text-white-50'>#<%= @room.name %></h1>
  
  <div class='flex-grow-1 d-flex flex-column overflow-auto message-list' id='messages' data-controller='message-list' data-action='resize@window->message-list#scrollToBottom'>
    <%= render @messages %>
  </div>

  <%= form_with model: [@room, Message.new], class: 'p-3' do |f| %>
    <%= f.text_field :content, class: 'form-control', required: true, autocomplete: 'off', autofocus: true, placeholder: "Message ##{@room.name}" %>
  <% end %>
</div>
